<style type="text/css">
    :host ::ng-deep * {
      font-size: 10px;
    }
    :host ::ng-deep .p-panel {
      margin: 5px 5px 5px 0px;
    }
    .col, .col-fixed,
      .col-1,
      .col-2,
      .col-3,
      .col-4,
      .col-5,
      .col-6,
      .col-7,
      .col-8,
      .col-9,
      .col-10,
      .col-11,
      .col-12 {
      padding: 0px;
    }
    .page-break {
      break-before: page;
    }
  </style>
    <div>
      <div class="pb-3 font-bold">CRITICAL DEFECT FOLLOW UP ANALYSIS and COUNTERMEASURE</div>
      <div class="grid ml-1">
        <div class="col-4">VIN: 2T2xxxxxxxxxxxxxx</div>
        <div class="col-6">Reg #: 12345678</div>
        <div class="col-2">Delta: -</div>
        <div class="col-4">Body: 05060</div>
        <div class="col-6">Insp Team: A</div>
        <div class="col-2">Water Leak: N</div>
        <div class="col-4">Seq Num: 947</div>
        <div class="col-6">Date Found: 2022-12-01 12:34:15</div>
        <div class="col-2">Specification: N</div>
        <div class="col-4">Status: OPEN</div>
        <div class="col-6">Responsibility: ASSY SOUTH/CHASSIS2/...</div>
        <div class="col-2">Designation: FUNC</div>
        <div class="col-4"></div>
        <div class="col-6">Defect: REAR FLOOR UNDERBODY/GROMMET/MISSING</div>
        <div class="col-2">Rank: B</div>
        <div class="col-12 mb-3">Comments: xxxxx</div>
      </div>
      <div class="grid">
        <div class="col-6">
          <p-panel header="Defect Image">
            <p-image src="https://data.ibtimes.sg/en/full/31244/toyota.jpg" alt="Image" width="100%"></p-image>
          </p-panel>    
          <p-panel header="Process Info">
            <div class="grid">
              <div class="col-6 font-medium flex justify-content-end pr-2">Pokayoke In Place?</div>
              <div class="col-6">Yes</div>
              <div class="col-6 font-medium flex justify-content-end pr-2">Is Pokayoke Functioning?</div>
              <div class="col-6">No, xxxxx</div>
              <div class="col-6 font-medium flex justify-content-end pr-2">Was Pokayoke Bypassed?</div>
              <div class="col-6">Yes, Who and why? xxxxx</div>
              <div class="col-6 font-medium flex justify-content-end pr-2">Process Change?</div>
              <div class="col-6">Yes</div>
              <div class="col-6 font-medium flex justify-content-end pr-2">Timing of Process Change:</div>
              <div class="col-6">&lt; 1 month</div>
              <div class="col-6 font-medium flex justify-content-end pr-2">Reason for Process Change?</div>
              <div class="col-6">ECI</div>
              <div class="col-6 font-medium flex justify-content-end pr-2">Option:</div>
              <div class="col-6">Option Name: xxxxx</div>
              <div class="col-6 font-medium flex justify-content-end pr-2">Build:</div>
              <div class="col-6">1% to 5%</div>
              <div class="col-6 font-medium flex justify-content-end pr-2">Cycle Time Fluctuation *F-3:</div>
              <div class="col-6">1% to 5%</div>
              <div class="col-6 font-medium flex justify-content-end pr-2">EIS:</div>
              <div class="col-6">Concern: xxxxx</div>
            </div>
          </p-panel>
        </div>
        <div class="col-6">
          <p-panel header="Electrical Defects">
            <div class="grid">
              <div class="col-6 font-medium flex justify-content-end pr-2">Electrical Defect?</div>
              <div class="col-6">Yes</div>
              <div class="col-6 font-medium flex justify-content-end pr-2">Electrical Defect Details:</div>
              <div class="col-6">Connector: #123456789, Other</div>
            </div>
          </p-panel>    
          <p-panel header="Details">
            <div class="grid">
              <div class="col-6 font-medium flex justify-content-end pr-2">Tracking Information</div>
              <div class="col-6"></div>
              <div class="col-6 font-medium flex justify-content-end pr-2">Completed By:</div>
              <div class="col-6">xxxxx</div>
              <div class="col-6 font-medium flex justify-content-end pr-2">Date:</div>
              <div class="col-6">mm/dd/yyyy</div>
              <div class="col-6 font-medium flex justify-content-end pr-2">Recurrence Issue?</div>
              <div class="col-6">Yes</div>
              <div class="col-6 font-medium flex justify-content-end pr-2 mt-2">Build Team:</div>
              <div class="col-6 mt-2">A Team</div>
              <div class="col-6 font-medium flex justify-content-end pr-2">Shift:</div>
              <div class="col-6">Day Shift</div>
              <div class="col-6 font-medium flex justify-content-end pr-2">Day:</div>
              <div class="col-6">Monday</div>
              <div class="col-6 font-medium flex justify-content-end pr-2">Quarter:</div>
              <div class="col-6">Q1</div>
              <div class="col-6 font-medium flex justify-content-end pr-2">Timing:</div>
              <div class="col-6">5 min Pre Break / EOS</div>
              <div class="col-6 font-medium flex justify-content-end pr-2">Team Member Status:</div>
              <div class="col-6">Other: xxxxx</div>
              <div class="col-6 font-medium flex justify-content-end pr-2">T/M Experience on this Process and GPC Training?</div>
              <div class="col-6">&lt; 3 months, no GPC training</div>
              <div class="col-6 font-medium flex justify-content-end pr-2">Safety Quality Audit Completed on T/M?</div>
              <div class="col-6">Yes</div>
              <div class="col-6 font-medium flex justify-content-end pr-2">Have you (G/L) seen the defect?</div>
              <div class="col-6">No, Who? xxxx</div>
            </div>
          </p-panel>
          <p-panel header="Tools">
            <div class="grid">
              <div class="col-6 font-medium flex justify-content-end pr-2">QA Network:</div>
              <div class="col-6">Yes, Pass</div>
              <div class="col-6 font-medium flex justify-content-end pr-2">Process Diagnostic:</div>
              <div class="col-6">Yes, Pass</div>
              <div class="col-6 font-medium flex justify-content-end pr-2">TIS Instruction:</div>
              <div class="col-6">Ok</div>
              <div class="col-6 font-medium flex justify-content-end pr-2">CVIS Instruction:</div>
              <div class="col-6">Ok</div>
              <div class="col-6 font-medium flex justify-content-end pr-2">Comments:</div>
              <div class="col-6">xxxxx</div>
            </div>
          </p-panel>
        </div>
        <p-panel header="Abnormality Analysis">
          <div class="grid">
            <div class="col-6 font-medium flex justify-content-end pr-2">Did the T/M notice any abnormality?</div>
            <div class="col-6">No (Work related problem)</div>
            <div class="col-6 font-medium flex justify-content-end pr-2">What do you think are the problems that are related to work?</div>
            <div class="col-6">
              <ul class="m-0 pl-3">
                <li>T/M did not follow Standardized work: xxxxx</li>
                <li>Other: xxxxx</li>
              </ul>
            </div>
            <div class="col-6 font-medium flex justify-content-end pr-2">What kind of abnormality occurred?</div>
            <div class="col-6">
              <ul class="m-0 pl-3">
                <li>Abnormality in Assembling</li>
                <li>Other: xxxxx</li>
              </ul>
            </div>
            <div class="col-6 font-medium flex justify-content-end pr-2">Is there any record of corrective action or troubleshooting taken?</div>
            <div class="col-6">No</div>
            <div class="col-6 font-medium flex justify-content-end pr-2">What went wrong with troubleshooting?</div>
            <div class="col-6">
              <div>Troubleshooting error by T/M</div>
              <ul class="m-0 pl-3">
                <li>T/M noticed abnormality but did not think it was a problem</li>
                <li>T/M noticed abnormality but forgot to report it</li>
                <li>Other: xxxxx</li>
              </ul>
            </div>
          </div>
        </p-panel>
      </div>
    </div>
    <div class="page-break mt-3">
    <p-panel header="Root Causes">
      <div class="grid ml-1">
        <div class="col-6 font-medium flex justify-content-end pr-2">What are the root causes?</div>
        <div class="col-6">Tackle Problem: xxxxx</div>
        <div class="col-6 font-medium flex justify-content-end pr-2 mt-2">Why Made?</div>
        <div class="col-6"></div>
        <div class="col-6 font-medium flex justify-content-end pr-2">Why Made? - Why 1</div>
        <div class="col-6">xxxxx</div>
        <div class="col-6 font-medium flex justify-content-end pr-2">Why Made? - Why 2</div>
        <div class="col-6">xxxxx</div>
        <div class="col-6 font-medium flex justify-content-end pr-2">Why Made? - Why 3</div>
        <div class="col-6">xxxxx</div>
        <div class="col-6 font-medium flex justify-content-end pr-2">Why Made? - Why 4</div>
        <div class="col-6">xxxxx</div>
        <div class="col-6 font-medium flex justify-content-end pr-2">Root Cause:</div>
        <div class="col-6">Man, Not following SWC, missed step</div>
        <div class="col-6 font-medium flex justify-content-end pr-2 mt-2">Why Shipped?</div>
        <div class="col-6"></div>
        <div class="col-6 font-medium flex justify-content-end pr-2">Why Shipped? - Why 1</div>
        <div class="col-6">xxxxx</div>
        <div class="col-6 font-medium flex justify-content-end pr-2">Why Shipped? - Why 2</div>
        <div class="col-6">xxxxx</div>
        <div class="col-6 font-medium flex justify-content-end pr-2">Why Shipped? - Why 3</div>
        <div class="col-6">xxxxx</div>
        <div class="col-6 font-medium flex justify-content-end pr-2">Why Shipped? - Why 4</div>
        <div class="col-6">xxxxx</div>
        <div class="col-6 font-medium flex justify-content-end pr-2">Root Cause:</div>
        <div class="col-6">Method, No inspection</div>
      </div>
    </p-panel>
    <p-panel header="Countermeasures">
      <p-table styleClass="p-datatable-gridlines">
        <ng-template pTemplate="header">
            <tr>
                <th>#</th>
                <th>Temporary Countermeasures</th>
                <th>Who</th>
                <th>Date</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            No Temporary Countermeasures have been entered.
          </div>
        </ng-template>      
      </p-table>
  
      <p-table styleClass="mt-3 p-datatable-gridlines">
        <ng-template pTemplate="header">
            <tr>
                <th>#</th>
                <th>Permanent Countermeasures</th>
                <th>Who</th>
                <th>Date</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            No Permanent Countermeasures have been entered.
          </div>
        </ng-template>      
      </p-table>
    </p-panel>
    </div>
  